@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-brigesta: var(--font-local-brigesta);
  --font-work-sans: var(--font-work-sans);
  --font-english111viva: var(--font-local-english111viva);
  --font-photograph_signature: var(--font-local-photograph_signature);
}

@theme {
  /* Shadow disesuaikan dengan tint dari warna utama agar tetap harmonis */
  --shadow-custom: 0px 2px 8px 0px rgba(155, 15, 6, 0.25);

  --color-primary-50: #fef3f2;
  --color-primary-100: #fee3e1;
  --color-primary-200: #fccbcb;
  --color-primary-300: #f8a6a4;
  --color-primary-400: #f17370;
  --color-primary-500: #e34440;
  --color-primary-600: #cc2a26;
  --color-primary-700: #ab1f1b;
  --color-primary-800: #9b0f06; /* Base Primary Anda */
  --color-primary-900: #751411;
  --color-primary-950: #410604;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-1 {
    background-image: url('/images/background.webp');
  }
}
