@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-brigesta: var(--font-local-brigesta);
  --font-work-sans: var(--font-work-sans);
  --font-english111viva: var(--font-local-english111viva);
  --font-photograph_signature: var(--font-local-photograph_signature);
}

@theme {
  --shadow-custom: 0px 2px 8px 0px #96483e;

  /* --color-primary: #4a4f3b;
  --color-primary-100: #783a34;
  --color-primary-200: #612e2a; */
  --color-primary-50: #f5f6f3;
  --color-primary-100: #e9ebe4;
  --color-primary-200: #d1d5ca;
  --color-primary-300: #b0b7a6;
  --color-primary-400: #8e977f;
  --color-primary-500: #70795f;
  --color-primary-600: #575e48;
  --color-primary-700: #474d3b;
  --color-primary-800: #4a4f3b; /* Base Primary Anda */
  --color-primary-900: #3e4232;
  --color-primary-950: #202319;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-1 {
    background-image: url('/images/background.webp');
  }
}
